:root {
    --font-color: #333;
    --background-color: rgb(248, 248, 248);
    --link-color: cornflowerblue;
  }
  
[data-theme="dark"] {
  --font-color: #eee;
  --rev-font-color:#333;
  --background-color: #333;
  --link-color: peachpuff;
  --forEvents:#ffffff;
}
[data-theme="light"]{
  --forEvents:#333;
}
/* 3 */
html body .home h3{
  color: var(--font-color);
}
html body .form-group{
  color: var(--font-color);
}
html body .card{
  color:var(--rev-font-color);
}
html body .dark{
  color: var(--font-color);
}
html body .filter p{
  color: var(--font-color);
}
html body .filter label{
  color: var(--font-color);
}
html body {
  background-color: var(--background-color);
}
html body .dashboard h3{
  color: var(--font-color);
}
html body .navbar .container-fluid .navbar-brand{
  color: var(--font-color);
}
html body .navbar .container-fluid .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
  color: var(--font-color);
}
html body .random{
  color: var(--font-color);
}
html body #nav-requests{
  color: var(--font-color);
}
html body form{
  color:var(--font-color)
}
html body .profile h3{
  color:var(--font-color)
}
html body .authenticateForm{
  background-color: var(--background-color);
}
